@import '../../global/scss/global.scss';

.TaskWrapper {
    color: $main-text-color;
    margin: 1rem 0;
    border: 4px solid $task-color;
    border-radius: 10px;
    background-color: $task-color;
    position: relative;

    .TaskName {
        text-align: center;
        margin: 1rem 0;
    }

    .TaskItemsContainer {
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: auto;
    }

    button {
        width: 4rem;
        height: 4rem;
        font-size: 1rem;
        line-height: 4rem;
        right: 0px;
        border-radius: 50%;
        background-repeat: no-repeat;
        border: none;
        color: inherit;
        cursor: pointer;
        background-color: $task-color;
        transition: 0.2s;
        &:hover {
            background-color: $task-hover-color;
        }
    }

    &::before {
        position: absolute;
        font-weight: bold;
        letter-spacing: 0.1rem;
        top: 1rem;
        left: 1rem;
    }

    &.Easier {
        border-color: $easier-color;

        &::before {
            content: 'Easier';
            color: $easier-color;
        }
    }

    &.Easy {
        border-color: $easy-color;

        &::before {
            content: 'Easy';
            color: $easy-color;
        }
    }

    &.Medium {
        border-color: $medium-color;

        &::before {
            content: 'Medium';
            color: $easier-color;
        }
    }

    &.Hard {
        border-color: $hard-color;

        &::before {
            content: 'Hard';
            color: $hard-color;
        }
    }

    &.Harder {
        border-color: $harder-color;

        &::before {
            content: 'Harder';
            color: $harder-color;
        }
    }

    &.Expired {
        &::after {
            content: '(Expired)';
            position: absolute;
            font-weight: bold;
            letter-spacing: 0.1rem;
            top: 1rem;
            right: 1rem;
            color: $expired-color;
        }
    }
}

.TaskInfoContainer {
    width: 45%;
    font-size: 1.2rem;

    .TotalSecondsWrapper {
        .TotalSeconds {
            font-weight: bold;
            margin: 0 1rem;
        }
    }

    .DeadlineWrapper {
        .Deadline {
            font-weight: bold;
            margin-left: 1rem;
        }
    }
}
