@import '../../global/scss/global.scss';

.TaskWrapper {
    margin: 1rem;
    border: 2px solid $task-color;
    border-radius: 10px;
    background-color: $task-color;

    .TaskName {
        text-align: center;
        margin: 1rem 0;
    }

    .TaskItemsContainer {
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: auto;
    }

    button {
        color: $text-color;
        width: 4rem;
        height: 4rem;
        font-size: 1rem;
        line-height: 4rem;
        right: 0px;
        border-radius: 50%;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        background-color: $task-color;
        transition: 0.2s;
        &:hover {
            background-color: $task-hover-color;
        }
    }

    &.Easy {
        border-color: $easy-color;
    }

    &.Medium {
        border-color: $medium-color;
    }

    &.Hard {
        border-color: $hard-color;
    }
}

.TaskInfoContainer {
    width: 25%;
    font-size: 1.2rem;

    .TotalSecondsWrapper {
        .TotalSeconds {
            font-weight: bold;
            margin: 0 1rem;
        }
    }

    .DeadlineWrapper {
        .Deadline {
            font-weight: bold;
            margin-left: 1rem;
        }
    }
}
