@import '../../global/scss/global.scss';

.Wrapper {
    margin-left: 10rem;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    min-height: 7rem;
    max-height: 7rem;
    border: 2px solid;
    border-radius: 10px;
    background-color: $task-color;
    .TaskWrapper {
        width: 80%;
        height: 70%;
    }

    .DateWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        .StartDateWrapper {
            min-width: 50%;
            margin-top: 1rem;
        }

        .EndDateWrapper {
            min-width: 50%;
            margin-top: 1rem;
        }
    }

    button {
        width: 10%;
        color: $text-color;
        height: 5rem;
        right: 0px;
        border-radius: 10px;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        background-color: $task-color;
        &:hover {
            background-color: $task-hover-color;
        }
    }
}
