@import '../../global/scss/global.scss';

.InputWrapper {
    padding: 0.5rem 0;
    position: relative;
    font-size: 1.2rem;
    min-width: 25rem;

    label {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 0.3rem 0;
    }

    input {
        font-size: inherit;
        width: 100%;
        padding: 0.3rem;
        border: 1px solid transparent;

        &:focus {
            outline: 1px solid $second-color;
        }
    }
}
