.Wrapper {
    margin: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .TaskWrapper {
        left: 20rem;
        min-width: 30rem;
    }

    @media screen and (max-width: 800px) {
        .Form {
            min-width: 80%;
        }
    }
}
