{
    "extends": ["stylelint-config-recommended", "stylelint-config-prettier"],
    "plugins": ["stylelint-declaration-use-variable"],
    "rules": {
        "max-nesting-depth": 2,
        "at-rule-no-unknown": null,
        "sh-waqar/declaration-use-variable": [
            [
                "/color/",
                { "ignoreValues": ["transparent", "inherit", "/rgba/"] }
            ]
        ],
        "selector-class-pattern": null
    }
}
