$main-color: #dddddd;
$main-text-color: #dddddd;
$main-color-dark: #888888;
$main-color-bright: #c7c6ff;
$second-color: #222831;
$nav-color: #30475e;
$task-color: #456a8f;
$task-color-dark: #375b80;
$task-hover-color: #6396c9;
$calendar-background-color: #e0e0e0;
$calendar-shadow-color: #8a8a8a;
$calendar-current-day-background: #d63e3e;
$calendar-current-day-color: #000000;
$calendar-current-day-hover-color: #d63eb5;

$task-delete-color: #ff8181;

$easier-color: #5fff5f;
$easy-color: #b0ffb0;
$medium-color: #eeff00;
$hard-color: #ff7094;
$harder-color: #ff3333;

$no-importance-color: #5fff5f;
$low-importance-color: #b0ffb0;
$medium-importance-color: #eeff00;
$high-importance-color: #ff7094;
$extreme-importance-color: #ff5353;

$priority-color: #00f7ff;
$priority-bg-color: #263b50;

$avg-time-color: #bbff00;
$avg-time-bg-color: #263b50;

$deadline-miss-color: #ff2600;
$deadline-miss-bg-color: #15212e;

$expired-color: #fffb00;
