$main-color: #dddddd;
$main-text-color: #dddddd;
$main-color-dark: #888888;
$main-color-bright: #d7b7ff;
$second-color: #222831;
$nav-color: #30475e;
$task-color: #456a8f;
$task-hover-color: #6396c9;
$calendar-background-color: #e0e0e0;
$calendar-shadow-color: #8a8a8a;
$calendar-current-day-background: #d63e3e;
$calendar-current-day-color: #000000;
$calendar-current-day-hover-color: #d63eb5;

$easy-color: #90ee90;
$medium-color: #ffff00;
$hard-color: #ee82bc;
