@import '../../global/scss/global.scss';

.Popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    background-color: $main-color-bright;
    z-index: 100;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    color: $second-color;

    @media screen and (max-width: 56.25rem) {
        width: 70%;
    }

    @media screen and (max-width: 50rem) {
        width: 80%;
    }

    @media screen and (max-width: 43.75rem) {
        width: 100%;
    }
}
