@import '../../global/scss/global.scss';

.Wrapper {
    color: $main-text-color;
    padding: 1rem;
    border: 4px solid $second-color;
    border-radius: 10px;
    background-color: $task-color;
    margin: 7rem auto 1rem;
    width: 40%;

    button {
        color: $main-text-color;
        text-align: center;
        margin: 2rem auto 1rem;
        font-size: 1.2em;
        height: 65px;
        width: 17rem;
        line-height: 65px;
        border: 3px solid darken($second-color, 30%);
        border-radius: 10px;
        background: $second-color;
        cursor: pointer;

        &:hover {
            border: 3px solid darken($second-color, 35%);
            background: darken($second-color, 8%);
            transition: all 0.3s ease;
        }

        &:disabled {
            background: darken($second-color, 25%);
            border: 3px solid darken($second-color, 40%);
        }
    }
}
