.TasksCalendarWrapper {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .Tasks {
        width: 70%;
    }

    .Calendar {
        width: 25%;
        display: flex;
        justify-content: right;
        align-items: flex-start;
        padding: 0.5rem;
    }

    @media screen and (max-width: 800px) {
        .Form {
            min-width: 80%;
        }
    }
}
