@import '../../global/scss/global.scss';

.AddTaskWrapper {
    button {
        position: relative;
        font-size: 2rem;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        padding: 0;
        text-align: center;
        color: $main-text-color;
        background-color: $second-color;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.PopupButtonWrapper {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0 0;

    select {
        padding-bottom: 1rem;
    }

    button {
        background-color: $second-color;
        padding: 0.75rem;
        min-width: 7.5rem;
        border-radius: 5px;
        color: $main-text-color;
        display: inline-block;
        transition: 0.2s;

        &:hover {
            background-color: $main-text-color;
            color: $second-color;
        }
    }
}

.TasksCalendarWrapper {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .Tasks {
        width: 70%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .Calendar {
        width: 25%;
        display: flex;
        justify-content: right;
        align-items: flex-start;
        padding: 0.5rem;
    }

    @media screen and (max-width: 800px) {
        .Form {
            min-width: 80%;
        }
    }

    @media screen and (max-width: 62.5rem) {
        flex-direction: column-reverse;
        align-items: center;

        .Tasks,
        .Calendar {
            width: 100%;
        }

        .Calendar {
            justify-content: center;
        }
    }
}

.select {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.deadlineWrapper {
    font-size: 1.2rem;
}
