@import '../../global/scss/global.scss';

input[type='checkbox'] {
    display: none;
}

.container {
    position: absolute;
}

nav {
    position: fixed;
    width: 15rem;
    background-color: $nav-color;
    bottom: 0;
    left: 0;
    top: 0;
    padding-top: 4rem;
    transition: transform 0.4s;
    transform: translateX(-100%);
    ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            color: $main-text-color;
            min-width: 6rem;
            text-align: center;
            display: inline-block;
            padding: 1.7rem;
            text-decoration: none;
        }
        a {
            text-decoration: none;
            color: $main-text-color;
        }
    }
}

.backDropWrapper {
    display: none;
}

.burgerIcon {
    cursor: pointer;
    margin: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 4;
    span {
        width: 1.8rem;
        height: 0.3rem;
        margin-bottom: 0.3rem;
        border-radius: 0.3rem;
        background-color: $main-text-color;
    }
}

input:checked ~ {
    .burgerIcon {
        position: fixed;
    }

    nav {
        transition: transform 0.65s;
        transform: translateX(0%);
        z-index: 2;
    }

    .backDropWrapper {
        display: block;
    }
}
