@import '../../global/scss/global.scss';

.react-calendar {
    background-color: $calendar-background-color;
    box-shadow: 0 4px 5px 0 $calendar-shadow-color;
}

.react-calendar__tile--now:enabled {
    background-color: $calendar-current-day-background;
    color: $calendar-current-day-color;
}

.react-calendar__tile--now:enabled:hover {
    background-color: $calendar-current-day-hover-color;
}
